doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='description' content='Личный блог Типотека')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Типотека
    link(rel='preload' href='/fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/style.min.css')
    style.
      .pagination__item--active{
        pointer-events: none;
      }
      .server-error{
        margin: 0 40px;
        padding: 15px;

        border-radius: 10px;
        color: #fff;

        background-color: #ff6347;
      }

  body
    -
      const formatDate = (dateString) => {
          const date = new Date(dateString);
          return `${date.getDay()}.${date.getMonth()}.${date.getFullYear()}, ${date.getHours()}:${date.getMinutes()}`;
        };

    mixin insertErrorMessages(messages)
      if messages
        each message in messages
          .server-error= message

    mixin insertArticlePicture(article)
      if article.picture
        .post__picture
          img(src=`/img/${article.picture}` alt='пейзаж море, скалы, пляж')

    mixin isPictureExistsArticleClass(article)
      li.preview__item(class=article.picture ? `` : `preview__item--noimage`)
        block

    mixin formatTimeTag(dataItem, timeField = `createdAt`)
      time(class!=attributes.class datetime=dataItem[timeField])= formatDate(dataItem[timeField])

    mixin pagination(page, totalPages, width, prefix)
      -
        let start = page - width;
        let end = page + width;

        if (start < 1) {
          end += 1 - start;
          start = 1;
        }

        if (end > totalPages) {
          start -= end - totalPages;
          end = totalPages;
        }

        if (start < 1) {
          start = 1;
        }

        let i = start - 1
      
      .preview__toggle-wrapper
        ul.preview__pagination.pagination
          if page > 1
            li
              a.pagination__button.button.button--backwards(href=`${prefix}page=${page-1}` aria-label='Страница назад') Назад
          else
            li
              a.pagination__button.button.button--backwards.button--disabled(aria-label='Страница назад') Назад

          while i++ < end
            li.pagination__item(class=`${i === page ? 'pagination__item--active' : ''}`)
              a(href=`${prefix}page=${i}`)= i

          if page < end
            li
              a.pagination__button.button.button--forward(href=`${prefix}page=${page+1}` aria-label='Страница вперед') Вперед
          else
            li
              a.pagination__button.button.button--forward.button--disabled(aria-label='Страница вперед') Вперед


    .wrapper
      include partials/header.pug

      block content

      include partials/footer.pug
    script(src='/js/vendor.js')
    script(src='/js/main.js')
